
.Article {
    grid-area: article;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 150px 150px 150px ;
    grid-template-rows: 50px 50px 50px 50px 50px;
/*    grid-gap: 10px;*/
    justify-content: center;
    text-align: center;


}

.item1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;

}
.item2 {
    border: solid green 1px;
}
.item3 {
    border: solid green 1px;
}
.item4 {
    border: solid green 1px;
}
.item5 {

}
.item14 {
    grid-row-start:6;
    grid-column-start: 1;
    grid-row-end:6 ;
    grid-column-end: 4;

}
.item15 {
    grid-row-start:7;
    grid-column-start: 1;
    grid-row-end:7 ;
    grid-column-end: 4;
    border: solid green 2px;
}
