
.Article {
    grid-area: article;
    grid-gap: 10px 4px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 30px 30px 30px;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;

}

.currencyType {
    width: 120px;
}

.sumAdd {
    width: 120px;
}

.item1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;

}

.item2 {
    background-color: yellowgreen;
}

.item3 {
    background-color: yellowgreen;
}

.item4 {
    background-color: yellowgreen;
}
.item5 {
    background-color: lightgrey;
}
.item6 {
    background-color: lightgrey;
}
.item7 {
    background-color: lightgrey;
}
.item8 {
    background-color: lightgrey;
}
.item9 {
    background-color: lightgrey;
}
.item10 {
    background-color: lightgrey;
}
.item11 {
    background-color: lightgrey;
}
.item12 {
    background-color: lightgrey;
}
.item13 {
    background-color: lightgrey;
}

.item15 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 4;
    background-color: yellowgreen;
}

.item14 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 4;

}

.item17 {
    grid-row-start: 8;
    grid-column-start: 2;
    grid-row-end: 10;
    grid-column-end: 2;
    width: 100px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 14pt;
}

.buttonSum {
    cursor: pointer;
}




